@page
@model SyncoraBackend.Pages.Auth.PasswordResetModel
@{
    ViewData["Title"] = "Password Reset";
}

<h1 class=" text-center">@ViewData["Title"]</h1>


@* <div class="text-center px-5">
    <div class="mb-3">
        <label for="passwordField" class="text-center form-label">Reset Password</label>
        <input type="password" name="passwordField" id="passwordField" class="form-control"
            placeholder="Enter your new password" />

        <label for="passwordField" class="text-center form-label">Reset Password</label>

        <input type="password" name="passwordField" id="passwordField" class="form-control"
            placeholder="Enter your new password" />
    </div>
</div> *@



<div class="text-center">
    <form method="post">
        <div class="mb-3">
            <label for="passwordField" class="form-label">New Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="passwordField" placeholder="Enter new password"
                    asp-for="Input.Password" /> <br>
                <button type="button" class="input-group-text" onclick="TogglePassword()">
                    <i class="bi bi-eye" id="togglePasswordIcon"></i>
                </button>
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label for="confirmPasswordField" class="form-label">Confirm Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="confirmPasswordField" placeholder="Confirm new password"
                    asp-for="Input.ConfirmPassword" />
                <button type="button" class="input-group-text" onclick="TogglePassword()">
                    <i class="bi bi-eye" id="toggleConfirmPasswordIcon"></i>
                </button>

            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

        </div>

        <button type="submit" class="btn btn-primary"> Submit</button>
    </form>
</div>

@* <script src="~/js/site.js"></script> *@